{%- if post.title %}
    {% assign title = post.title | append: ' | ' | append: site.title | strip_newlines %}
    {% assign excerpt = post.excerpt | strip_html  | truncatewords: 40 %}
{% elsif page.title %}
    {% assign title = page.title | append: ' | ' | append: site.title | strip_newlines %}
    {% assign excerpt = page.content | strip_html | truncatewords: 40 %}
{% else %}
    {% assign title = site.title | append: ' | ' | append: site.description | strip_newlines %}
    {% assign excerpt = site.description %}
{% endif -%}
{%- assign page_url = page.url | prepend: site.baseurl | prepend: site.url -%}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-language" content="{{ site.locale }}" />
        <meta name="author" content="{{ site.author.name }}" />
        {%- if post %}
        <meta name="description" content="{{ post.excerpt | strip_html | truncatewords: 35 }}">
        {% else %}
        <meta name="description" content="{{ site.description | strip_newlines }}">
        {% endif -%}

        <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/css/reset.css?v={{ site.styles_cache_buster }}">
        <link rel="stylesheet" href="/css/main.css?v={{ site.styles_cache_buster }}">
        <link rel="stylesheet" href="/css/highlighter/native.css?v={{ site.styles_cache_buster }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

        <meta property="og:title" content="{{ title }}">
        <meta property="og:image" content="{{ "/img/me-wide.jpg" | prepend: site.baseurl | prepend: site.url }}">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="720">
        <meta property="og:image:height" content="720">
        <meta property="og:description" content="{{ excerpt }}" />
        <meta property="og:locale" content="{{ site.locale }}" />
        <meta property="og:url" content="{{ page_url }}" />
        <meta property="og:site_name" content="{{ site.title }}" />
        {%- if page.date %}
        <meta property="og:type" content="article" />
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
        {% else %}
        <meta property="og:type" content="website" />
        {% endif %}

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@falexandrou" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:description" content="{{ excerpt }}" />
        <meta name="twitter:image" content="{{ "/img/me-wide.jpg" | prepend: site.baseurl | prepend: site.url }}" />
        <meta name="twitter:url" content="{{ page_url }}" />

        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        {% if jekyll.environment == 'production' %}
        <script defer data-domain="falexandrou.com" src="https://plausible.io/js/plausible.js"></script>
        {% endif %}
        <script src="https://use.typekit.net/ixr1tyt.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        {% feed_meta %}
        <script type="application/ld+json">
        {%- if page.date %}
        {
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ site.baseurl | prepend: site.url }}"
            },
            "author": {
                "@type":"Person",
                "name":"{{ site.author.name }}"
            },
            "description": "{{ excerpt }}",
            "@type":"BlogPosting",
            "url":"{{ page_url }}",
            "headline": "{{ title }}",
            "dateModified": "{{ page.date | date_to_xmlschema }}",
            "datePublished":"{{ page.date | date_to_xmlschema }}",
            "@context":"http://schema.org"
        }
        {% else %}
        {
            "@type": "WebSite",
            "url": "{{ site.baseurl | prepend: site.url }}",
            "name": "{{ site.title }}",
            "headline": "{{ site.title }}",
            "author": {
                "@type":"Person",
                "name":"{{ site.author.name }}"
            },
            "description":"{{ site.description | stripnewlines }}",
            "@context":"https://schema.org"
        }
        {%- endif %}
        </script>
</script>
    </head>

    <body id="top">
      <header id="header">
          <a href="/" class="image avatar"><img src="/img/avatar.jpg?v={{ site.styles_cache_buster }}" alt="{{ site.author.name }}"></a>
          <h1>
            Hi, I'm <strong>Fotis</strong><br />
	    and I make <strong>web applications</strong>
          </h1>

          <nav>
            <ul>
              <li>
                <a href="/">Blog</a>
              </li>
              <li>
                <a href="/work">Work</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </nav>
      </header>

        {{ content }}

        <footer id="footer">
            <ul class="icons">
            {% for account in site.data.social %}
              <li>
                  <a {% if account.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=account.link %}" {% if account.social_icon %}class="icon fa-{{ account.social_icon | slugify }}"{% endif %}>
                    <span class="label">{{ account.name }}</span>
                  </a>
              </li>
            {% endfor %}
            {% if site.author.email %}
            <li>
              <a href="/contact" class="icon fa-envelope-o">
                <span class="label">Get in touch</span>
              </a>
            </li>
            {% endif %}
            </ul>
            <ul class="copyright">
                <li>&copy; {{ 'now' | date: "%Y" }} Fotis Alexandrou</li>
                <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
            </ul>
        </footer>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.poptrox.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
        <script src="/js/main.js"></script>
    </body>
</html>
