---
layout: default
---
<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.subtitle %}<h3 class="post-subtitle">{{ page.subtitle }}</h3>{% endif %}
      <p class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      </p>
      <p class="post-meta">
        Share this on &rarr;
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="social-share-button">
          <span class="icon fa-twitter"></span>
          Twitter
        </a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="social-share-button">
          <span class="icon fa-facebook"></span>
          Facebook
        </a>
      </p>
    </header>

    <section class="post-content">
      {{ content }}
    </section>

    <footer class="post-footer">
      <h2 class="footer-title">You may also like</h2>
      <div class="row">
      {% if page.previous %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt">
          <header>
            <h3><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h3>
          </header>
          <section class="content">
            {{ page.previous.content | strip_html | truncatewords: 15 | markdownify }}
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ page.previous.url }}" class="button">Read More</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}

      {% if page.next %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt f-right">
          <header>
            <h3><a href="{{ page.next.url }}">{{ page.next.title }}</a></h3>
          </header>
          <section class="content">
            {{ page.next.content | strip_html | truncatewords: 15 | markdownify }}
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ page.next.url }}" class="button">Read More</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}
      </div>
    </footer>

    {% if page.comments %}
    <section class="comments">
      <div id="disqus_thread"></div>
      <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://falexandrou.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
    {% endif %}
  </article>
</div>
