---
layout: default
---
<div id="main">
  <h1>{{ page.title }}</h1>
  <p class="post-meta">
    {{ page.work_type }}
    {% if page.work_period %} - {{ page.work_period }}{% endif %}
    {% if page.link %} - <a href="{{page.link}}" target="_blank">{{page.link}}</a>{% endif %}
  </p>
  <figure class="aspect-ratio retina portfolio-image">
    <img src="/img/work/{{ page.image }}" alt="{{ page.title }}" loading="lazy">
  </figure>
  <section>
    {{ page.content }}
  </section>
  <footer class="work-details m-b-2">
    <ul class="unstyled">
      <li>Stack • {{ page.tech_stack }}</li>
    </ul>
  </footer>
  <h3>
    <a href="/work">Back to the full list of work samples</a>
  </h3>
</div>
